#app-window {
	border: #555 1px solid;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 200px;
	position: relative;
}

#loader {
	height: 300px;
	text-align: center;
	margin-top: 200px;
	vertical-align: top;
	font-size: x-small;
	color: #555;
}

#loader img {
	margin-right: 20px;
}

.checkers-bg {
	background-image: url("images/checkers3.gif");
	background-repeat: repeat;
}

.mindmap-node {
	border: 2px #333 solid;
	font-size: 14px;
	background-color: #fff;
	margin: 0px;
}

.mindmap-node .node-text {
	margin: 12px;
}

.mindmap-node-selected {
	border: 2px #f00 solid;
}

.mindmap-node-parent-selected {
	border: 2px #a00 solid;
}

.mindmap-node-current {
	border: 2px #f00 dashed;
}

.mindmap-node-focused {
	border: 2px #f88 solid;
}

.mindmap-rte .gwt-RichTextArea {
	border: 1px #555 solid;
	margin: 2px;
}

.mindmap-rte .gwt-RichTextArea body {
	font-family: Arial Unicode MS,Arial,sans-serif; 
}

.mindmap-rte .gwt-ToggleButton {
	width: 20px;
	height: 20px;
	margin: 2px;
	padding: 3px;
	text-align: center;
}

.context-menu {
	border: 1px #ccc solid;	
}
.context-menu .gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 2px 36px 2px 6px;
}	

.mceExternalToolbar {
	top: -88px;
}