<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	 <servlet>
	    <servlet-name>mindmapStorageServlet</servlet-name>
    	<servlet-class>mindnotes.server.MindmapStorageServiceImpl</servlet-class>
  	</servlet>
  

  <servlet-mapping>
    <servlet-name>mindmapStorageServlet</servlet-name>
    <url-pattern>/mindnotes/storage</url-pattern>
  </servlet-mapping>
  

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>MindNotes.html</welcome-file>
	</welcome-file-list>

</web-app>
