.node {
	border-bottom: 2px #2e58a8 solid;
	background-color: #fff;
	margin: 0px;
		
}

.node:hover {
	background-color: #a7c5ff;
	-webkit-border-top-right-radius: 9px;
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
	
}

.nodeText {
	margin-right: 15px;
}

.nodeText, .textBox {
	margin: 4px 12px 1px 12px;
	font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
	font-size: 14px;
	font-weight: bold;
	
}

.textBox {
	background: none;
	border: none;
	padding: 0;
	display: block;	
}
.textBox:focus {
	outline: none;
	background: #cdd2c0;
}

.nodeFocused {
}

.nodeSelected,
.nodeCurrent {
	background-color: #9cb26c;
	border-bottom: 2px #82a82e solid;
	 -webkit-border-top-right-radius: 9px;
	 -webkit-border-top-left-radius: 9px;
	 -moz-border-radius-topright: 9px;
	 -moz-border-radius-topleft: 9px;
}
.nodeSelected:hover,
.nodeCurrent:hover {
	background-color: #b4cb82;
	}

.nodeParentSelected {
	border-bottom: 2px #9cb26c solid;
}

.textPanel:focus {
	outline: none;
}


@external dragdrop-handle;
.node .dragdrop-handle {
	cursor: default;
}
