.node {
	border-bottom: 2px #333 solid;
	font-size: 14px;
	background-color: #fff;
	margin: 0px;
	max-width: 430px;
	max-height: 460px;
		
}

.node:hover {
	background-color: #e4eCf5;
	-webkit-border-top-right-radius: 9px;
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
	
}

.nodeText {
	margin: 4px 12px 1px 12px;
}

.nodeText p {
	margin: 2px 0;
}

.nodeSelected,
.nodeCurrent {
	background-color: #d7e8f5;
	border-bottom: 2px #4882e0 solid;
	 -webkit-border-top-right-radius: 9px;
	 -webkit-border-top-left-radius: 9px;
	 -moz-border-radius-topright: 9px;
	 -moz-border-radius-topleft: 9px;
}
.nodeSelected:hover,
.nodeCurrent:hover {
	background-color: #c0d6ed;
	}

.nodeParentSelected {
	border-bottom: 2px #1b56b5 solid;
}

.nodeFocused {
	border: 2px #f88 solid;
}